<h3 *ngIf=!isLoaded>Loading...</h3>
  <div *ngIf=isLoaded>
    <h1>{{ recipes[currentRecipe].name }}</h1>
    <h3>{{ recipes[currentRecipe].description }}</h3>
    <img class="foodpic" src="{{ recipes[currentRecipe].image }}" alt="Picture of food"><br>
      <span>ingredients:</span>
      <ul>
          <li *ngFor="let ingredient of recipes[currentRecipe].ingredient">
              {{ ingredient.name }}<span *ngIf=ingredient.amount>: {{ ingredient.amount }} </span><span *ngIf=ingredient.unit>{{ ingredient.unit }}</span>
          </li>
      </ul>
      <span>Steps:</span>
      <ol>
        <li *ngFor="let step of recipes[currentRecipe].step">
          {{ step.description }}
        </li>
      </ol>
  </div>
