<h3 *ngIf=!isLoaded>Loading...</h3>
  <div *ngIf=isLoaded>
    <h1>{{ recipe.name }}</h1>
    <h3>{{ recipe.description }}</h3>
    <img class="foodpic" src="{{ recipe.image }}" alt="Picture of food"><br>
      <span>ingredients:</span>
      <ul>
          <li  *ngFor="let ingredient of recipe.ingredient">
              {{ ingredient.name }}<span *ngIf=ingredient.amount>: {{ ingredient.amount }} </span><span *ngIf=ingredient.unit>{{ ingredient.unit }}</span>
          </li>
      </ul>
      <span>Steps:</span>
      <ol>
        <li *ngFor="let step of recipe.step">
          {{ step.description }}
        </li>
      </ol>
  </div>
  <button (click)="showState()">test</button>
